body {
    background: black;
    font-family: Helvetica;
    font-size: 4.5em;

}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row;
    color: cyan;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

a {
    color: purple;
display: block;
padding: 40px;
   text-decoration: none;
   background: white;
   border-radius: 20px;
   font-weight: lighter;
  
}

a:hover {
    text-decoration: none;
    background-color: purple;
    color: white;
    
   }

