body {
    background: black;
    font-family: Helvetica;
    height: 100vh;


}
.welcome-text{
    font-size: 48px;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 3rem;
    color: yellow;
    top: 50%;
    position: relative;
}
.hidden {
    visibility: hidden;
}